
body{
    font-size: 16px;
}
.container--mod{
    background: #fff;
    
}



.container__social--mod{
    padding: 0.625rem;
    background: #424242;
}
.container__social--mod a{
    text-decoration: none;
    color: #808080;
    font-size: 24px;
    margin: 7px 14px 7px 14px;
}

.container__social--mod a:hover{
    color: #ffffff;
}

.container__header--mod{
    background: #181818;
    background: linear-gradient(to left, #222222, #121212);
    
}
.container__header--mod a{
    text-decoration: none;
}


.container__header__left{
    display: grid;
    align-items: center;
    
    
    }

.container__header__left h3{

    position:relative;
    bottom: 35px;

    background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
   
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Cinzel Decorative', cursive;
    /*color:  #641e16;*/
 
    font-size: 80px;
    
    -webkit-text-stroke: 2px #000;
}

.container__header__right{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
padding-left: 80px;

}
.container__header__right h2{

    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    margin: 20px 50px 0 0;
    color: #fff;
}


.container__informatica__item{
  /*  display: grid;
    grid-template-columns: 1fr 5fr 2fr;*/
    
}

.container__informatica__item:nth-child(1){
    grid-area: title;
}
.container__informatica__item:nth-child(2){
    grid-area: row31;
}
.container__informatica__item:nth-child(3){
    grid-area: row32;
}
.container__informatica__item:nth-child(4){
    grid-area: row33;
}
.container__informatica__item:nth-child(5){
    grid-area: row34;
}

.container__informatica__item__box{
    min-height: 400px;
    border: 1px solid rgb(244,244,244);
    background: rgb(244,244,244);
}
.container__informatica__item__title{
  
    position: relative;
    text-align: center;
}
.container__informatica__item__title h4{
    position:absolute;
    font-size: 46px;
    top:15%;
    left:0;
    right:0;
}

.container__informatica__item__title img{
opacity: 0.3;
}
.container__informatica__item__text{
    font-family: "Noto Sans", "Helvetica", sans-serif;
    
    background: rgb(244,244,244);
    
    padding: 10px;
}
.container__informatica__item img{

    width: 100%;
    color:rgb(51,51,51); 
}

.container__informatica__item__text h3{
    color:rgb(0, 20, 204);
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;   
}
.container__informatica__item__text p{
    color:rgb(51,51,51);
    font-size: 16px;
    line-height: 24px;
}

.container__audiovisual--mod{
   /*background: #d7c7af;*/
   background: linear-gradient(
  to bottom,
  #5d9634,
  #5d9634 50%,
  #538c2b 50%,
  #538c2b
);
/* The rectangle in which to repeat. 
   It can be fully wide in this case */
background-size: 50% 20px;
}

.container__audiovisual__item img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container__footer--mod{
    background: #424242;
}


.container__footer h4{
    font-family: 'Krona One', sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
}
.container__footer a{
    font-family: 'Krona One', sans-serif;
    text-decoration: none;
    color:rgb(110, 110, 110);
    font-size: 12px;
    

}
.container__footer li{
    margin-top: 10px;
}
.container__footer ul{

    list-style-type: none;
  margin: 0;
  padding: 0;
}