.container{
    display: grid;
    grid-template-columns: 1fr; 
    /*gap: 6px;*/
}

.container__social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position:-webkit-sticky;
}

.container__header{
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 1fr;
    grid-auto-flow: row;
    height: 90px;
    /*box-shadow: inset 0px 2px 5px -2px #000000;*/
}

.container__informatica{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: "title title title title"
                         "row2left row2left row2right row2right"
                         "row31 row32 row33 row34";
    
    
    align-content: start;                    
    align-items:start;
    justify-items: stretch;
    gap: 10px;
   
}

.container__audiovisual{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: "title title title title"
                         "row2left row2left row2right row2right"
                         "row3left row3left row3right row3right";
    
    
    align-content: start;                    
    align-items:start;
    
    gap: 2rem;
}

.container__footer{
    display: grid;
    grid-template-columns: repeat(2,1fr) 2fr;
    justify-items: center;
    
    height: 200px;
    border: 1px solid rgb(110, 110, 110);
   
    color: rgb(218, 218, 218);
}